<!-- Vista para las flashcards: -->
{% extends "layout.twig" %}

{% block body %}
    <h1> A VER CÓMO MUESTRO YO LAS FLASHCARDS XDXXD</h1>

    {% if flashcards.length > 0 %}
        <!--cambio ul por div para usar flexbox-->
        <div class="flashcard-container">
            {% for card in flashcards %}
                <!-- cambio li: articles.
                <hr> horizontal rule” (regla horizontal)-->
                <article class="flashcard">
                    <!--¡¡ refactorizar !!-->
                    {% if mode == 'kanji' %}
                        <div class="kanji-box">
                            <h2>{{ card.kanji }}</h2>
                        </div>
                        <p><strong>Lectura kun:</strong> {{ card.kunReading }}</p>
                        <p><strong>Lectura on:</strong> {{ card.onReading }}</p>
                        <p><strong>Significado:</strong> {{ card.meaning }}</p>
                        <p><strong>Nivel:</strong> {{ card.level }}</p>

                    {% elseif mode == 'vocabulario' %}
                        <div class="kanji-box">
                            {% if card.mainReading == 'kun' %}
                                <h2>{{ card.kunReading }}</h2>
                            {%  else %}
                                <h2>{{ card.onReading }}</h2>
                            {% endif %}
                        </div>
                        <p><strong>Significado:</strong> {{ card.meaning }}</p>
                        <p><strong>Nivel:</strong> {{ card.level }}</p>

                    {% else %}
                        <div class="kanji-box">
                            <h2>{{ card.kanji }}</h2>
                        </div>
                        <p><strong>Lectura kun:</strong> {{ card.kunReading }}</p>
                        <p><strong>Lectura on:</strong> {{ card.onReading }}</p>
                        <p><strong>Significado:</strong> {{ card.meaning }}</p>
                        <p><strong>Nivel:</strong> {{ card.level }}</p>
                        <p><strong>Categoría:</strong> {{ card.category }}</p>
                    {% endif %}
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay flashcards aún.</p>
    {% endif %}

        <p><a href="/japobulario/flashcards/new">Añadir nueva flashcard</a></p>

    {% endblock %}