<!-- Vista para las flashcards: -->
{% extends "layout.twig" %}

{% block body %}
    <h1> A VER CÓMO MUESTRO YO LAS FLASHCARDS XDXXD</h1>

    {% if flashcards.length > 0 %}
        <ul>
            {% for card in flashcards %}
                <!-- <li>
                    <strong>{{ card.kanji }}</strong><br>
                    Lectura: {{ card.reading }}<br>
                    Significado: {{ card.meaning }}<br>
                    Categoría: {{ card.category }}<br>
                    Nivel: {{ card.level }}<br>
                </li>
                <hr> -->
                <article class="flashcard">
                    <div class="kanji-box">
                        <h2>{{ card.kanji }}</h2>
                    </div>
                    <p><strong>Lectura:</strong> {{ card.reading }}</p>
                    <p><strong>Significado:</strong> {{ card.meaning }}</p>
                    <p><strong>Categoría:</strong> {{ card.category }}</p>
                    <p><strong>Nivel:</strong> {{ card.level }}</p>
                </article>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay flashcards aún.</p>
    {% endif %}

    <p><a href="/japobulario/flashcards/new">Añadir nueva flashcard</a></p>

{% endblock %}